
@font-face {
    font-family: youshe;
    src: url(../fonts/优设标题黑.ttf);
}


.title{
    width: 100%;
    height: 220px;
    background: #3c3c3c;
    /* border: 1px solid black; */
    border-radius: 20px;
}


.yinbiaoCard{
    width: 180px;
    height: 130px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(255, 247, 238);
    position: relative;
    margin-right: 90px;
    margin-top: 40px;
}

.yinbiaoCard:nth-child(1){
    margin-top: 0px;
}

.yinbiaoCard:nth-child(2){
    margin-top: 0px;
}

.yinbiaoCard:nth-child(3){
    margin-top: 0px;
}

.yinbiaoCard:nth-child(3n){
    margin-right: 0px;
}

.koreanBox{
    width: 60px;
    height: 100px;
    top: 20px;
    position: absolute;
    /* border: 1px solid black; */
    font-weight: 700;
}

.englishBox{
    width:65px;
    height: 65px;
    position: absolute;
    left: 75px;
    top: 20px;
    /* border: 1px solid black; */
    text-align: left;
}

.exampleBox{
    width: 60px;
    height: 40px;
    position: absolute;
    left: 75px;
    top: 85px;
    text-align: left;
    line-height: 0.6em;
}

.btn{
    font-size: 25px;
    cursor: pointer;
    color: #68945C;
}



.essentialBox{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 14px;
    top: 25px;
    /* border: 1px solid black; */
    text-align: left;
    /* border-radius: 50%; */
}



.audioBox{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 14px;
    top: 90px;
    /* border: 1px solid black; */
    text-align: left;
}

.audioPause{
    width: 25px;
    height: 25px;
    border-radius: 10px;
    /* background-color: rgba(253,182,1); */
}

.audioPlay{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: rgba(253,182,1);
    animation: shrink 2s infinite;
}

@keyframes shrink {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(0.5);
    }
  
    100% {
      transform: scale(1);
    }}

    .screen{
        width: 100%;
        height: 720px;
        background: #3c3c3c;
        border-radius: 20px;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    

    .box{
        width: 781px;
        height: 340px;
        background-color: rgba(255, 198, 64, 0.171);
        border-radius: 10px;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
       overflow: hidden;
    }

    .frame{
        width:max-content;
        height: 280px;
        display: flex;
        /* border: 1px solid black; */
        flex-wrap:wrap;

    }

    .pageBtn{
    width: 150px;
    height: 80px;
    background: rgba(255,197,66);
    font-size: 25px;
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 3px 4px rgba(251, 218, 143, 0.462) ;
    cursor: pointer;
    position: absolute;
    top: 100px;
    left: 100px;
}

.titleBtnBox{
    height: 60px;
    /* border: 1px solid #68945C; */
    width: 100%;
    display: flex;
}

.titleBtn{
    margin-right: 50px;
    margin-top: 10px;
    cursor: pointer;
}

.titleBtn{
    margin-right: 50px;
    margin-top: 10px;
    cursor: pointer;
}



.titleBox{
    height: 120px;
    width: 100%;
    display: flex;
}

.titleB{
    width: 400px;
    height: 70px;
    border-radius: 30px;
    text-align: center;
    font-size: 90px;
    line-height: 50px;
    color: #fff;
    margin-top: 20px;
    font-family: youshe;
}